<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.study.testapp.googlesignin">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application>
        <!--android:allowBackup="true"-->
        <!--android:label="@string/app_name"-->
        <!--android:supportsRtl="true"-->
        <!--android:theme="@android:style/Theme.NoTitleBar"-->
        <!-- EGLS Android Game Socialization SDK begin -->
        <!-- Google SignIn begin -->
        <activity
            android:name="com.study.testapp.googlesignin.GoogleSignInActivity"
            android:configChanges="fontScale|orientation|keyboardHidden|locale|navigation|screenSize|uiMode"
            android:screenOrientation="behind"
            android:theme="@android:style/Theme.NoTitleBar" />

        <!-- Google SignIn end -->
        <activity
            android:name="GoogleSignInTest">
            android:configChanges="fontScale|orientation|keyboardHidden|locale|navigation|screenSize|uiMode"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>
